.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
}

.toolbar img {
    margin: 0 16px;

    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }
}

svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
}

.spinner-container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    transition: opacity 0.2s;
}

mat-spinner {
    margin: auto;
}

.source {
    display: inline;
    position: absolute;
    float: right;
    top: 0;
    right: 20px;
    color: white;

    mat-icon {
        display: inline;
        float: right;
        color: black;
        padding-top: 5px;

        &:hover {
            color: white;
            cursor: pointer;
        }
    }
}

.source-list {
    list-style: none;

    li {
        padding: 10px;
        background-color: grey;
        color: white;
        border: 1px solid white;

        &:hover {
            cursor: pointer;
            background-color: green;
        }
    }
}