.content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;

    tr.answer-row {
        height: 0;
    }

    .answer-container {
        padding: 15px 0 15px 0;
    }

    tr.question-row:not(.example-expanded-row):hover {
        background: whitesmoke;
    }

    .paginator {
        width: 100%;
    }

    td:hover {
        cursor: pointer;
    }

    .mat-column-actions {
        width: 20px;
    }

    .actions-container {
        text-align: center;
    }

    mat-tab-group {
        width: 100% !important;
        text-align: center;
    }

    .no-questions {
        padding-top: 25px;
        padding-bottom: 10px;
        border-bottom: 1px solid #3f51b5;
    }
}